{% extends "index.html" %}
{% load static %}
{% block content %}

<small>Cadastro de temas</small>
<h3>Crie um novo tema</h3>
<form action="/saveTheme/" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="div-perfil-form">
        <div class="div-perfil-imagem-preview">
            <img class="perfil-imagem" src="{% static 'img/perfil/default-theme.jpg' %}" id="avatarView">
            <input type="file" id="file" class="file-img-perfil" name="photo" accept="image/*">
            <input type="button" id="fileInput" class="button-2" value="Envie uma nova Foto" style="width: 100%;" />
        </div>

        <div class="div-perfil-form-infos">
            <div>
                <p class="descricao">Nome</p>
                <input type="text" size="50" name="name" class="input-dados-usuario" placeholder="Seu nome" required>
            </div>

            <div>
                <p class="descricao">Descrição do tema</p>
                <textarea name="description" class="input-dados-usuario" placeholder="Crie uma breve descrição do tema" rows="4" style="resize: none;" required></textarea>

            </div>

            <div>
                <p class="descricao">Cor principal do tema</p>
                <input type="text" size="50" name="color" class="input-dados-usuario" placeholder="Cor do tema"
                    required>
            </div>


            <div>
                <p class="descricao">Valor do tema</p>
                <input type="text" size="50" name="price" class="input-dados-usuario" placeholder="Valor do tema"
                    required>
            </div>

            <fieldset class="item-list">
                <legend class="item-list-title">Itens disponíveis</legend>
                <div class="item-list-container">
                    {% for item in list_item %}
                    {% if item %}
                    <div class="item">
                        <input id="item-{{ item.id }}" class="item-checkbox" type="checkbox" name="item"
                            value="{{ item.id }}">
                        <label for="item-{{ item.id }}">{{ item.name }}</label>
                        <p class="item-description">{{ item.description }}</p>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </fieldset>


            <input class="button-1" type="submit" value="Criar Tema"
                style="width: min-content;align-self: end;padding-left: 4em;padding-right: 4em;margin-top: 2em;">
        </div>
    </div>

    </div>
</form>


<script>
    'use strict'
    let photo = document.getElementById('avatarView');
    let file = document.getElementById('file');
    let buttonIMGinput = document.getElementById('fileInput')

    photo.addEventListener('click', () => {
        file.click();
    });

    buttonIMGinput.addEventListener('click', () => {
        file.click();
    });


    file.addEventListener('change', () => {

        if (file.files.length <= 0) {
            return;
        }

        let reader = new FileReader();

        reader.onload = () => {
            photo.src = reader.result;
        }

        reader.readAsDataURL(file.files[0]);

    });


    document.addEventListener('DOMContentLoaded', function () {
        // Function to reorder the items based on their checked state
        function reorderItems() {
            const container = document.querySelector('.item-list-container');
            const checkedItems = [];
            const uncheckedItems = [];

            // Separate checked and unchecked items
            container.querySelectorAll('.item').forEach(function (item) {
                if (item.querySelector('.item-checkbox').checked) {
                    checkedItems.push(item);
                } else {
                    uncheckedItems.push(item);
                }
            });

            // Empty the container
            container.innerHTML = '';

            // Append checked items first, then unchecked items
            checkedItems.forEach(function (item) {
                container.appendChild(item);
            });
            uncheckedItems.forEach(function (item) {
                container.appendChild(item);
            });
        }

        // Call the reorder function initially to set the initial order
        reorderItems();

        // Add a change event listener to the checkboxes to reorder the items dynamically
        document.querySelectorAll('.item-checkbox').forEach(function (checkbox) {
            checkbox.addEventListener('change', function () {
                reorderItems();
            });
        });
    });
</script>
{% endblock %}