{% extends "index.html" %}
{% load static %}
{% block content %}

<small>Cadastro de Cliente</small>
<h3>Faça o seu cadastro</h3>
<form action="/saveClient/" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="div-perfil-form">
        <div class="div-perfil-imagem-preview">
            <img class="perfil-imagem" src="{% static 'img/perfil/default.jpg' %}" id="avatarView">
            <input type="file" id="file" class="file-img-perfil" name="perfil" accept="image/*">
            <input type="button" id="fileInput" class="button-2" value="Envie uma nova Foto" style="width: 100%;" />
        </div>

        <div class="div-perfil-form-infos">
            <div>
                <p class="descricao">Nome</p>
                <input type="text" id="name" size="50" name="name" class="input-dados-usuario" placeholder="Seu nome" required>
            </div>

            <div>
                <p class="descricao">E-mail</p>
                <input type="email" id="email" size="50" name="email" class="input-dados-usuario"  required>
            </div>

            <div>
                <p class="descricao">Telefone Principal</p>
                <div class="div-number-perfil">
                    <input type="text" id="ddd1" size="3" name="ddd1" placeholder="84" class="input-dados-usuario"
                        style="width: 3em;" required>
                    <input type="text" id="phone1" size="10" name="phone1" placeholder="99419-2907"
                        pattern="[0-9]{5}-[0-9]{4}" class="input-dados-usuario"  required>
                </div>
            </div>

            <div>
                <p class="descricao">Telefone Secundário</p>
                <div class="div-number-perfil">
                    <input type="text" id="ddd2" size="3" name="ddd2" placeholder="84" class="input-dados-usuario"
                        style="width: 3em;">
                    <input type="text" id="phone2" size="10" name="phone2" placeholder="99419-2907"
                        pattern="[0-9]{5}-[0-9]{4}" class="input-dados-usuario">
                </div>
            </div>

            <input class="button-1" type="submit" value="Criar Cliente"
                style="width: min-content;align-self: end;padding-left: 4em;padding-right: 4em;margin-top: 2em;">
        </div>
    </div>

    </div>
</form>


<script>
    'use strict'
    let photo = document.getElementById('avatarView');
    let file = document.getElementById('file');
    let buttonIMGinput = document.getElementById('fileInput')

    photo.addEventListener('click', () => {
        file.click();
    });

    buttonIMGinput.addEventListener('click', () => {
        file.click();
    });


    file.addEventListener('change', () => {

        if (file.files.length <= 0) {
            return;
        }

        let reader = new FileReader();

        reader.onload = () => {
            photo.src = reader.result;
        }

        reader.readAsDataURL(file.files[0]);

    });
</script>
{% endblock %}