{% extends "index.html" %}
{% load static %}
{% block content %}

<small>Novo item</small>
<h3>Adicione um novo item ao estoque.</h3>

<form action="/saveItem/" method="post">
    {% csrf_token %}
    <div class="div-perfil-form">
        <div class="div-perfil-form-infos">
            <div>
                <p class="descricao">Nome</p>
                <input type="text" name="name" class="input-dados-usuario" placeholder="Nome do Item" required>
            </div>
            <div>
                <p class="descricao">Descrição</p>
                <textarea name="description" class="input-dados-usuario" placeholder="Crie uma breve descrição do item"
                    rows="4" style="resize: none;" required></textarea>
            </div>
            <input class="button-1" type="submit" value="Adicionar Item"
                style="width: min-content;align-self: end;padding-left: 4em;padding-right: 4em;margin-top: 2em;">
        </div>

    </div>
    </div>

    </div>
</form>



{% endblock %}