{% extends "index.html" %}
{% load l10n %}
{% block content %}

<small>Itens Disponíveis</small>
<h3>Lista de Itens</h3>
<a class="button-3" href="/formItem" style="width: max-content;">Adicionar Item →</a>
<div class="cards-rent">
    {% if item_list %}
    {% for item in item_list%}
    <div class="card-rent">
        <div class="card-rent-left">
            <div class="card-rent-user">
                <p class="card-rent-user-name">{{item.name}}</p>
            </div>

            <p class="card-rent-status">{{item.description}}</span>
            </p>
        </div>

        <div class="card-rent-right">
            <a href="/detailItem/{{item.id}}"> <button class="button-2">Editar</button></a>
            <a href="/deleteItem/{{item.id}}"> <button class="button-3" style="margin: 0;">Apagar</button></a>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <p>Nenhum item cadastrado!!</p>
    {%endif%}
</div>

{% endblock %}