{% extends "index.html" %}
{% load l10n %}
{% block content %}

<small>Lista de Alugueis</small>
<h3>Alugados mais recentes</h3>
<a class="button-3" href="/formRent">Alugar tema →</a>
<div class="cards-rent">
    {% if rent_list %}
    {% for rent in rent_list%}
    <div class="card-rent">
        <div class="card-rent-left">
            <div class="card-rent-user">
                <img class="card-rent-user-img" src="{{rent.client.perfil.url}}" alt="{{rent.client.name}}">
                <p class="card-rent-user-name">{{rent.client.name}}</p>
            </div>

            <p class="card-rent-status">Alugou o tema <span>{{rent.theme.name}}</span> para
                <span>{{rent.date|date:"d/m"}}.</span> • Por <span>R${{rent.total_price}}</span>
            </p>
        </div>

        <div class="card-rent-right">
            <a href="/detailRent/{{rent.id}}"> <button class="button-2">Editar Aluguel</button></a>
            <a href="/deleteRent/{{rent.id}}"> <button class="button-3" style="margin: 0;">Apagar</button></a>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <p>Nenhum item cadastrado!!</p>
    {%endif%}
</div>

{% endblock %}